<h1>List of all the Reviews</h1>

<% @reviews.each do |review|%>
<%= button_to review.soup.name, review, method: :get %>
<br>
<%end%>

<br>

<%= button_to 'Create a New Review', new_review_path, method: :get %>
